<ion-card #horasUsoCard class="stats-widget dashboard-widget">
    <ion-card-header>
      <div class="title">
        <btn-back class="btn-back" *ngIf="type != 'General'"></btn-back>
        <strong>{{title}}</strong>
        <div class="btns-container">
          <btn-exportar></btn-exportar>
          <ion-button slot="end" class="stats-btn black-btn" aria-label="Favorite" shape="round"> 
              <ion-icon name="filter-outline" aria-hidden="true"></ion-icon>
              <ion-icon slot="end" name="chevron-down-outline" aria-hidden="true"></ion-icon>
          </ion-button> 
        </div>
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <div class="chart-container">
        <canvas id="myChart"></canvas>
      </div>
    </ion-card-content>
    <btn-ver-mas *ngIf="type == 'General'" style="padding-left: 4vw;" (click)="verMas()" ></btn-ver-mas>
  </ion-card>
