<ion-content>
    <ion-card class="stats-widget" style="height: auto !important;">
      <ion-card-header>
        <ion-card-title>
          
          <div class="header">
            <div class="btns-container-left">
              <btn-back class="btn-back"></btn-back>
              <h1 *ngIf="type == 'campus' || type == 'grado'" class="title">Libros: <strong style="font-family: Volte-Bold;">Campus Durango.</strong></h1>
              <h1 *ngIf="type == 'libros' || type == 'usuarios'" class="title">Elige un campus</h1>
            </div>
            <!-- <div *ngIf="type != 'usuarios'" class="btns-container-right">
              <btn-exportar></btn-exportar>
              <ion-input class="search"
              id="myInputTextField"  
              placeholder="Buscar..."
              fill="solid"
              >
                <ion-icon class="search-icon" slot="start" name="search-outline" aria-hidden="true"></ion-icon>
              </ion-input>
            </div> -->
            <div class="btns-container-right">
              <btn-exportar style="margin-top: auto;"></btn-exportar>
              <ion-input 
              *ngIf="type == 'usuarios'"
              class="search"
              id="myInputTextField"  
              placeholder="Buscar..."
              fill="solid"
              size="small"
              >
                <ion-icon class="search-icon" slot="start" name="search-outline" aria-hidden="true"></ion-icon>
              </ion-input>

              <ng-container *ngIf="type != 'usuarios'">
                <div class="books">
                  <!-- <div [ngClass]="{ 'alerta': type == 'usuarios', 'exito': type == 'libros' || 'campus' }" class="sub-title">{{totalUsuariosLibros}}</div> #NOTA - Hacer pipe para separar los miles con coma , -->
                  <div class="sub-title-book">{{totalUsuariosLibros | number}}</div> <!-- #NOTA - Hacer pipe para separar los miles con coma , -->
                  <div class="sub-subtitle-book">{{subtitle}}</div>
                </div>
              </ng-container>
            </div>
          </div>
          <ng-container *ngIf="type == 'usuarios'">
            <div class="books" >
              <!-- <div [ngClass]="{ 'alerta': type == 'usuarios', 'exito': type == 'libros' || 'campus' }" class="sub-title">{{totalUsuariosLibros}}</div> #NOTA - Hacer pipe para separar los miles con coma , -->
              <div class="sub-title-book">{{totalUsuariosLibros | number}}</div> <!-- #NOTA - Hacer pipe para separar los miles con coma , -->
              <div class="sub-subtitle-book">{{subtitle}}</div>
            </div>
          </ng-container>
          
        </ion-card-title>
      </ion-card-header>

      <!-- USUARIOS Y LIBROS CONTENT -->
      <ion-card-content class="table-container">

         <!-- USUARIOS CONTENT -->
        <ng-container *ngIf="type == 'usuarios'">
          <ion-list lines="full" [inset]="true" style="padding-top: 0px !important; padding-bottom: 0px !important;">
         
            <!-- Item General -->
            <ion-item [button]="true" (click)="navigateToRoute('desgloce-usuarios/general')" class="item-data">
              <ion-label class="grey-txt"><strong>General</strong></ion-label>
              <div class="item-numbers">{{totalUsuariosLibros | number}}</div>
            </ion-item>
  
            <!-- Items Usuarios -->
            <ion-item [button]="true" (click)="navigateToRoute('desgloce-usuarios/campus', item.Campus)" class="item-data" *ngFor="let item of data">
              <ion-label class="grey-txt" ><strong>{{item.Campus}} </strong></ion-label>
              <div class="item-numbers">{{item.Usuarios | number}}</div>
            </ion-item>
          </ion-list>
        </ng-container>

        <!-- LIBROS CONTENT -->
        <ng-container *ngIf="type == 'libros'">
          <ion-list lines="full" [inset]="true" style="padding-top: 0px !important; padding-bottom: 0px !important;">

            <!-- Items Libros -->
            <ion-item [button]="true" (click)="navigateToRoute('elegir-grado/campus')" class="item-data" *ngFor="let item of data">
              <ion-label class="grey-txt" ><strong>{{item.Campus}} </strong></ion-label>
              <div class="item-numbers">{{item.Libros | number}}</div>
            </ion-item>
          </ion-list>
        </ng-container>

        <!-- CAMPUS CONTENT -->
         <ng-container *ngIf="type == 'campus'">
          <div>Escolaridad</div>

          <ion-accordion-group >
            <ion-accordion class="item-data" *ngFor="let escolaridad of escolaridades" value="{{escolaridad}}">
              <ion-item  slot="header">
                <ion-label class="grey-txt"><strong>{{escolaridad}}</strong> (100)</ion-label> <!-- aqui se debe sacar la cantidad de libros que hay por escolaridad y añadir el pipe | number  -->
              </ion-item>
              <div slot="content">
                <ng-container *ngIf="escolaridad == 'Kinder' || escolaridad == 'Primaria'">
                  <ion-list>
                    <ion-item [button]="true" (click)="navigateToRoute('elegir-libro/grado')" style="padding-left: 1vw;" *ngFor="let grado of gradosKinPrim">{{ grado | gradosSuffix: 'grado' }} Grado</ion-item>
                  </ion-list>
                </ng-container>
                <ng-container *ngIf="escolaridad == 'Secundaria' || escolaridad == 'Preparatoria'">
                  <ion-list>
                    <ion-item [button]="true" (click)="navigateToRoute('elegir-libro/grado')" style="padding-left: 1vw;" *ngFor="let grado of gradosSecunPrepa">{{ grado | gradosSuffix: 'grado' }} Grado</ion-item>
                  </ion-list>
                </ng-container>
                <ng-container *ngIf="escolaridad == 'Universidad'">
                  <ion-list>
                    <ion-item [button]="true" (click)="navigateToRoute('elegir-libro/grado')" style="padding-left: 1vw;" *ngFor="let grado of gradosKinPrim; index as i">{{i+1}}. {{ grado }}</ion-item>
                  </ion-list>
                </ng-container>

              </div>
            </ion-accordion>
          </ion-accordion-group>
          
         </ng-container>

        <!-- GRADO CONTENT -->
        <ng-container *ngIf="type == 'grado'">
          <span style="margin-left: 4vw;"><strong>{{escolaridad}}: </strong>{{grado | gradosSuffix: 'grado' }} grado</span>
          <ion-list lines="full" [inset]="true" style="padding-top: 0px !important; padding-bottom: 0px !important;">

            <!-- Items Grado -->
            <ion-item [button]="true" (click)="navigateToRoute('detalle-libro')" class="item-data" *ngFor="let itemGrado of data">
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
              <ion-grid>
                <ion-row class="ion-justify-content-start">
                  <ion-col size="1">
                    <img class="grado-portada" src={{itemGrado.PortadaLibro}} alt="Portada">
                  </ion-col>
                  <ion-col offset="1">
                    <div class="grado-info-container">
                      <div>
                        <div class="grado-nombre">
                          {{ itemGrado.Libro }}.
                        </div>
                        <div class="grado-escolaridad">
                          {{itemGrado.GradoLibro  | gradosSuffix: 'escolaridad'}} {{itemGrado.EscolaridadLibro}}
                        </div>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ng-container>

        <!--  FOOTER -->
        <div class="footer">
  
          <div class="logo-footer">
            <img src="./assets/icon/logo_lbs_gris.svg" alt="LBS+" role="presentation">
          </div>
        </div>
  
      </ion-card-content>
    </ion-card>
  </ion-content>