.header {
    font-family: "Volte-Medium";
    color: #704CEB;
    font-size: x-large;
    display: flex;
    width: 100%;
    padding-left: 1vw;
    
}

.title {
    font-family: Volte-Regular; 
    color: #704CEB; 
    margin-top: 25px;
    display: contents;
}

.sub-title-book {
    font-family: "Volte-Bold";
    text-align: center;
    color: #606060;
    font-size: xxx-large;
}

.sub-subtitle-book {
    font-family: "Volte-Medium";
    text-align: center;
    color: #704CEB;
    font-size: medium;
}

.sub-title-user {
    font-family: "Volte-Bold";
    text-align: center;
    color: #606060;
    font-size: xxx-large;
}

.sub-subtitle-user {
    font-family: "Volte-Medium";
    text-align: center;
    color: #704CEB;
    font-size: medium;
}

.books {
    display: flex; 
    flex-direction: column;
}
  

.footer {
    display: flex;
    width: 100%;
    margin-top: 1vh;
    padding-left: 4vw;
    padding-right: 1vw;
}  
  
.btns-container-left {
    position: relative;
    bottom: 5px;
    margin-right: auto;
}

.btns-container-right {
    position: relative;
    display: flex;
    bottom: 5px;
    margin-left: auto;
    
}

.item-data {
    --ion-item-background:#F5F5F5;
}

.item-numbers {
    color: #fff;
    font-family: 'Volte-Regular';
    text-transform: unset;
    text-align: center;
    background: #704CEB;
    border-radius: 35px;
    font-size: 14px;
    width: 5vw;
}

.btn-back {
    bottom: 15px;
    position: relative;
}

.purple-txt {
    color: #704CEB;
}

.grey-txt {
    color: #606060;
}

.stats-libro {
    font-size: large;
}

.libro-portada {
    border-radius: 15px;
    min-height: 10vh;
    box-shadow: 8px 8px 13px 2px #00000026;
    margin-left: 3vw;
    // max-height: 20vh;
    // min-width: 5vw;
  }

.title-content {
    font-family: "Volte-Medium";
    color: #606060;
    font-size: xx-large;
    display: flex;
  }

.ranking {
    background-color: #fff;
    color: #704CEB;
    font-size: xxx-large;
    border-radius: 35px;
    text-align: center;
    width: 65px;
    height: 65px;
    box-shadow: 4px 4px 6px 0px #00000026;
    // font-family: 'Volte-Bold';
}

.logo-footer {
    position: relative;
    width: 200px;
    height: 35px;
    pointer-events: none;
    margin-bottom: 18px;
    margin-left: auto;
  }

.info-row {
    margin-bottom: 2vh;
}

.grafica-porcentaje {
    height: 200px !important;
    width: 200px !important;
}

.texto-porcentaje {
    position: absolute;
    font-family: 'Volte-Bold';
    color: #606060;
    font-size: xxx-large;
    align-content: space-around;
    text-align: center;
}

.valor-de-uso {
    text-align: center;
    position-area: center;
    position: absolute;
    line-height: normal;
}

.accordion-content {
    color: #606060;
    padding-left: 1vw;
}


.grado-info-container {
    height: 100%;
    display: grid;
    align-items: center;
}

.grado-nombre {
    font-family: 'Volte-Bold';
    color: #606060;
    text-align: left;
}

.grado-escolaridad {
    font-size: small;
    color: #704CEB;
    text-align: left;
}

.grado-portada {
    border-radius: 15px;
    min-height: 10vh;
    max-height: 20vh;
    min-width: 6vw;

}

ion-input.search {
    --background: #373636;
    --color: #fff;
    --placeholder-color: #ddd;
    --placeholder-opacity: 1;
    border-radius: 25px;
    font-family: 'Volte-Regular';
    text-transform: unset;
    font-size: small;
    // --padding-end: 15px;
    --padding-start: 15px;
    padding-right: 1vw;
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  ion-icon.search-icon {
    position: inherit;
    left: 10px;
  }

  ion-list {
    // padding-top: 0px !important;
    // padding-bottom: 0px !important;
    padding: 0px !important;
  }

  ion-accordion ion-item {
    --background: #f5f5f5;
    --color: #606060;
  }