<ion-card class="stats-widget">
  <ion-card-header>
    <ion-card-title>
      <div class="title">{{totalUsuarios}}</div> <!-- #NOTA - Hacer pipe para separar los miles con coma , -->
      <div class="subtitle">Usuarios</div>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid class="total-libros" [fixed]="true">
      
      <!-- Porcentaje -->
        <ion-row>
          <ion-col>
            <div class="porcentajes">{{porcentajeAlumnos}}%</div>
          </ion-col>
          
          <ion-col>
            <div class="porcentajes">{{porcentajeProfesores}}%</div>
          </ion-col>
        </ion-row>
      
      <!-- Total -->
        <ion-row>
          <ion-col>
            <div class="totales">{{totalAlumnos}}</div>
          </ion-col>
          <ion-col>
            <div class="totales">{{totalProfesores}}</div>
          </ion-col>
        </ion-row>
      
      <!-- Alumnos/Profesores -->
        <ion-row>
          <ion-col>
            <div class="subtitle">Alumnos</div>
          </ion-col>
          <ion-col> 
            <div class="subtitle">Profesores</div>
          </ion-col>
        </ion-row>
      
    </ion-grid>
  </ion-card-content>

  <div class="footer">
    <div class="btns-container">
      <btn-exportar></btn-exportar>
      <btn-ver-mas></btn-ver-mas>
    </div>
  </div>

</ion-card>