<ion-card class="stats-widget dashboard-widget">
  <ion-card-header>
    <ion-card-title>
      <div class="title">{{totalUsuarios | number}}</div> <!-- #NOTA - Hacer pipe para separar los miles con coma , -->
      <div class="subtitle">Usuarios</div>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid class="total-libros" [fixed]="true">
      
      <!-- Porcentaje -->
        <ion-row>
          <ion-col size="1">
            <div class="porcentajes">{{porcentajeAlumnos}}%</div>
          </ion-col>
          
          <ion-col  size="1">
            <div class="porcentajes">{{porcentajeProfesores}}%</div>
          </ion-col>
        </ion-row>
      
      <!-- Total -->
        <ion-row>
          <ion-col size="1">
            <div class="totales">{{totalAlumnos | number}}</div>
          </ion-col>
          <ion-col size="1">
            <div class="totales">{{totalProfesores | number}}</div>
          </ion-col>
        </ion-row>
      
      <!-- Alumnos/Profesores -->
        <ion-row>
          <ion-col size="1">
            <div class="subtitle">Alumnos</div>
          </ion-col>
          <ion-col size="1"> 
            <div class="subtitle">Profesores</div>
          </ion-col>
        </ion-row>
      
    </ion-grid>
  </ion-card-content>

  <div class="footer">
    <div class="btns-container">
      <btn-exportar></btn-exportar>
      <btn-ver-mas (click)="EstadisticasPage.navigateToRoute('elegir-campus/usuarios')"></btn-ver-mas>
    </div>
  </div>

</ion-card>