.home {
  scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-grid {
    padding: 0;
    height: 100%;
  }

  ion-row {
    flex: 1;
  }
}

.main-row {
  margin: 1vw;
}

.padding-right {
  padding-right: 1vw;
}
ion-card.no-margin{
  margin: 0vh !important;
}

ion-card {
  margin: 0vh !important;
}