.home {
  scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-grid {
    padding: 0;
    height: 100%;
  }

  ion-row {
    flex: 1;
  }
}

ion-col {
  // margin: 5px;
  // padding: 5px;
  // min-width: 60%;
  max-height: 50%;
  min-height: 50%;
  padding-bottom: 25px;
  
}

ion-col.col-izq {
  background: #761313;
}

ion-col.col-der {
 
  background: #131d76;
}
