<ion-content>
    <h1 style="font-family: Volte-Regular; color: #704CEB; margin-top: 25px;">Estadisticas: <strong style="font-family: Volte-Bold;">General.</strong></h1>
    
    <ion-grid>
        <ion-row class="main-row">
            <ion-col class="padding-right" #horasUsoCampusCol [size]="colSizeL">
                <!-- Hora de uso de por campus -->
                    <card-hora-uso-campus [type]="'General'" (verMasEvent)="verMasBtn()"></card-hora-uso-campus>
    
            </ion-col>
            <ion-col #totalLibrosCol *ngIf="display" [size]="colSizeS">
                <!-- Total de libros -->
                    <card-total-libros></card-total-libros>
                 
            </ion-col>
        </ion-row>
        <ion-row class="main-row">
            <ion-col class="padding-right" #topCampusCol [size]="colSizeL">
                <!-- Top Campus -->
                <card-top-campus #topCampusCard></card-top-campus>
    
            </ion-col>
            <ion-col #usuariosCol *ngIf="display" [size]="colSizeS">
                <!-- Usuarios -->
                <card-usuarios></card-usuarios>
    
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>






