.home {
  scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-grid {
    padding: 0;
    height: 100%;
  }

  ion-row {
    flex: 1;
  }
}

.title {
  font-family: 'Volte-Regular'; 
  color: #704CEB; 
  margin-top: 25px;
  display: flex;
  width: 100%;
}

.btns-container {
  position: relative;
  bottom: -1vh;
  padding-right: 1vw;
  margin-left: auto;
  margin-top: auto;
}

.main-row {
  margin: 1vw;
}

.padding-right {
  padding-right: 1vw;
}
ion-card.no-margin{
  margin: 0vh !important;
}

ion-card {
  margin: 0vh !important;
}